<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="style.css" />
</head>

<body>
    <%- include('partials/nav.ejs') %>
        <h1>Home Page</h1>
        <!-- <ul>
        <% //locals.students.map(student => { %>
            <li>
                <%= //student.name %>
            </li>
        <% //}); %>
    </ul> -->

        <% if(locals.jobs.length> 0) { %>
            <section class="articles">
                <% locals.jobs.map(job=> { %>

                    <article>
                        <div class="article-wrapper">
                            <figure>
                                <img src="https://images.unsplash.com/photo-1635350736475-c8cef4b21906?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80"
                                    alt="" />
                            </figure>
                            <div class="article-body">
                                <h2>
                                    <%= job.title %>
                                </h2>
                                <p>
                                    <strong>
                                        <%= job.companyName %>
                                    </strong>
                                </p>
                                <br />
                                <p>
                                    <%= job.location %>
                                </p>
                                <br />
                                <p>
                                    <%= job.description %>
                                </p>
                                <br />
                                <a href="#" class="read-more">
                                    Apply <span class="sr-only">about this is some title</span>
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 20 20"
                                        fill="currentColor">
                                        <path fill-rule="evenodd"
                                            d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z"
                                            clip-rule="evenodd" />
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </article>
                    <% }) %>
            </section>
        <% } %>
</body>

</html>